@model LmjHotelWebApplication.Models.Hospede

@{
    ViewData["title"] = "Dados Cadastrados";
}

<div class="ml-5">
    <div class="d-md-flex justify-content-start mt-4">
        <div class="custom-detalhes">
            <img src="~/images/person.jpg" class="user-icone">
            <h5 class="ml-3 mt-3">@ViewData["title"]</h5>
        </div>
        <a asp-controller="Reserva" asp-action="Consultar" asp-route-id="@Model.Id" class="btn btn-config-2">
            Minhas Reservas
        </a>
    </div>

    <!-- Inicio da área de detalhes onde, o hóspede verifica seus dados cadastrados -->
    <div class="mt-2">
        <hr>
        <div class="">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Sobrenome)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Sobrenome)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Cpf)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cpf)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Telefone)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Telefone)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CartaoCredito)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CartaoCredito)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
        </div>
    </div><!-- Final da área de detalhes onde, o hóspede verifica seus dados cadastrados -->
    <!-- Links opcionais abaixo da área de detalhes  -->
    <div class="col-md-6 mt-4">
        <a asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-config">Editar dados</a>
        <a asp-controller="Home" asp-action="Index" class="main-page">Voltar a página principal</a>
    </div>
</div>
